<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org" level="WARN"/>
    <logger name="com" level="WARN"/>
    <logger name="javax" level="WARN"/>
    <logger name="jclouds" level="WARN"/>
    <logger name="sun" level="WARN"/>
    <logger name="java" level="WARN"/>
    <logger name="jdk" level="WARN"/>
    <logger name="io.undertow" level="WARN"/>

    <root level="TRACE">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
