# Default ignored files
libraries/
shelf/
compiler.xml
encodings.xml
misc.xml
modules.xml
*.iml
vcs.xml
workspace.xml
target/

*.versionsBackup
.surefire*
scala_settings.xml
inspectionProfiles
kotlinc.xml
.attach*
.flattened-pom.xml
/.idea/jarRepositories.xml
